html {
    font-size: 13px;
}

body {
    background-color: #fff6df;
}

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.content-main {
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}

.info-group .title {
    color: #591804;
    background-color: #fff0cd;
    font-weight: bold;
    font-size: 1.5rem;
}

.info-group .title-sub {
    font-weight: 400;
    font-size: 1.2rem;
    padding-top: 10px;
}

.info-group p {
    padding-top: 5px;
    padding-bottom: 5px;
}

.content-main {
    padding-top: 15px;
    padding-left: 20px;
}

