.footer .service {
    border-bottom: 1px solid #e0e0e0;
    padding: 27px 0; 
}

.footer .link-group {
    padding: 27px 0; 
}

.row-5 > * {
    width: 20%;
}

.footer .service a {
    font-size: 1.3rem;
    color: #757575;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    line-height: 25px;
}
.footer .service a:first-child {
    border-left: 0;
}

.footer .link {
    float: left;
}

.footer .link a {
    width: 100%;
    padding-top: 15px;
    color: #757575;
}

.footer .link .title {
    font-size: 1.2rem;
    display: inline-block;
    padding-bottom: 20px;
}

.footer .service-info {
    border-left: 1px solid #e0e0e0;
}

.footer .service-info .service-btn {
    display: inline-block;
    margin-top:10px;
    border: 1px solid #ff6700;
    color: #ff6700;
    background-color: #fff;
    width: 118px;
    height: 28px;
    cursor: pointer;
}

.footer .service-info > * {
    text-align: center;
}

.footer .service-time {
    color: #ff6700;
    font-size: 1.9rem;
}


