.top {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
}

.top .title {
    font-size: 2rem;
    padding-bottom: 15px;
}

.top span {
    color: #888;
}

span.like {
    padding: 0 10px;
    color: #0366d6;
}

.sub-title:before {
    content: '原';
    font-weight: 1000;
    color: #fff;
    padding: 0 2px;
    background-color: #333;
    border-radius: 2px;
}

.sub-title > * {
    margin: 0 5px;
}

.sub-title .user {
    color: #0366d6;
    font-weight: 800;
}

.main .content {
    font-size: 1rem;
    padding-left: 20px;
    line-height: 1.6;
}




