<link rel="stylesheet" href="../../lib/normalize.css">
<!-- <link rel="stylesheet" href="../../common/global.css"> -->
<link rel="stylesheet" href="checkbox.css">

<div class="check-group">
    <input id="checkId" type="checkbox">
    <label for="checkId" class="checkbox">休闲</label>
</div>
<div class="check-group">
    <input id="checkId2" type="checkbox">
    <label for="checkId2" class="checkbox">休闲</label>
</div>

<div class="check-group">
    <input id="checkId3" type="checkbox">
    <label for="checkId3" class="checkbox">休闲</label>
</div>

<div class="check-group">
    <input id="checkId4" type="checkbox">
    <label for="checkId4" class="checkbox">休闲</label>
</div>