.pagination {
    margin: 10px 0;
    text-align: center;
}

.pagination button {
    outline: 0;
    color: #555;
    display: inline-block;
    padding: 10px;
    border: 1px solid #9e9e9e;
    border-right: 0px;
    background-color: #fff;
    cursor: pointer;
    padding: 10px 20px;
}

.pagination button:last-of-type {
    border-right: 1px solid #9e9e9e;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination button:first-of-type {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination .active {
    background-color: #949494;
    color: #fff;
}