<div class="row nav global">
    <div class="container">
        <div class="col-lg-6 left">
            <a href="#">小米商城</a>
            <a href="#">MIUI</a>
            <a href="#">loT</a>
            <a href="#">云服务</a>
            <a href="#">水滴</a>
            <a href="#">金融</a>
            <a href="#">有品</a>
            <a href="#">Select Region</a>
        </div>
        <div class="col-lg-6 right">
            <a href="#">登录</a>
            <a href="#">注册</a>
            <a href="#">消息通知</a>
            <a href="#">购物车</a>
        </div>
    </div>
</div>
