<div class="row nav page">
    <div class="container">
        <div class="col-lg-2">
            <div class="logo"></div>
        </div>
        <div class="col-lg-7">
            <a href="#">小米手机</a>
            <a href="#">红米</a>
            <a href="#">电视</a>
            <a href="#">笔记本</a>
            <a href="#">盒子</a>
            <a href="#">新品</a>
            <a href="#">路由器</a>
            <a href="#">智能硬件</a>
            <a href="#">服务</a>
            <a href="#">社区</a>
        </div>
        <div class="col-lg-3">
            <form class="search-box">
                <input type="search" class="search">
                <input type="submit" class="btn">搜索</input>
            </form>
        </div>
    </div>
</div>