.head {
    position: relative;
    background-image: url("../img/slider-01.jpg");
    background-size: cover;
    min-height: 500px;
}

.nav {
    left:300px;
    right:300px;
    position: absolute;
    border: 1px solid #444;
    border-radius: 5px;
    top: 20px;
    background-color: #fff;
}

.nav a {
    padding: 10px;
}

.card {
    padding: 10px;
}

.card .pic {
    border-radius: 8px;
    overflow: hidden;
}

.title {
   padding: 10px 0;
   font-weight: 1000;
   font-size: 1.1rem;
}


